---
- name: test if cron_shell is set correctly
  assert:
    that:
      - cron_shell is defined
    quiet: yes

- name: test if cron_path is set correctly
  assert:
    that:
      - cron_path is defined
    quiet: yes

- name: test if cron_mailto is set correctly
  assert:
    that:
      - cron_mailto is defined
    quiet: yes

- name: test if cron_jobs is set correctly
  assert:
    that:
      - cron_jobs is iterable
    quiet: yes
  when:
    - cron_jobs is defined

- name: test if item in cron_jobs is set correctly
  assert:
    that:
      - item.name is defined
      - item.job is defined
    quiet: yes
  loop: "{{ cron_jobs }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - cron_jobs is defined

- name: test if item.minute is set correctly
  assert:
    that:
      - item.minute >= 0
      - item.minute <= 59
    quiet: yes
  loop: "{{ cron_jobs }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - cron_jobs is defined
    - item.minute is defined
    - item.minute is number

- name: test if item.hour is set correctly
  assert:
    that:
      - item.hour >= 0
      - item.hour <= 23
    quiet: yes
  loop: "{{ cron_jobs }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - cron_jobs is defined
    - item.hour is defined
    - item.hour is number

- name: test if item.weekday is set correctly
  assert:
    that:
      - item.weekday >= 0
      - item.weekday <= 6
    quiet: yes
  loop: "{{ cron_jobs }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - cron_jobs is defined
    - item.weekday is defined
    - item.weekday is number
